<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="menu">
        <a href="/">Home Page</a>
        <a href="/contato">Contato</a>
        <a href="/produtos">Produtos</a>
    </nav>

    {% block content %} 
    {% endblock %}

    {% block footer %} 
    <footer>
        <p class="dev">Desenvolvido por Ana Maria - 2024</p>
        <nav>
            <a href="/termosdeuso">Termos de Uso</a>
            <a href="/politicadeprivacidade">Política de Privacidade</a>
            <a href="/privacidade">Privacidade</a>
        </nav>
    </footer>
    {% endblock %}
</body>
</html>