{% extends "base.html" %}

{% block title %} Home Page {% endblock %}


{% block content %} 

   <h1>Bem vindo ao Site</h1>

   <strong><h3>Descubra a Magia das Cores: Bem-vindo à Esmalteria WK!</h3></strong>

<p>
Em um universo onde a beleza se funde com a criatividade, a Esmalteria WK abre suas portas para transformar suas unhas em verdadeiras obras de arte. Aqui, cada frasco de esmalte é mais do que uma simples cor - é uma promessa de estilo, personalidade e glamour.

Imagine-se navegando por nossas prateleiras repletas de cores vibrantes e acabamentos deslumbrantes. Desde os tons clássicos que nunca saem de moda até as últimas tendências em nail art, nossa coleção foi meticulosamente selecionada para satisfazer os desejos das mais exigentes fashionistas.

Cada frasco é uma cápsula de autoexpressão, pronta para transformar suas unhas em um reflexo único de quem você é. Deixe-se seduzir pelos vermelhos intensos que exalam confiança, pelos rosas suaves que emprestam delicadeza aos seus gestos, ou pelos azuis elétricos que emanam ousadia e modernidade.

Não importa se você é uma expert em nail art ou uma entusiasta iniciante, nossa equipe apaixonada está aqui para guiá-la em cada passo do caminho. Descubra dicas preciosas para aplicação impecável, truques de tendências e técnicas de cuidado para manter suas unhas sempre radiantes.

Além dos esmaltes, oferecemos acessórios essenciais para completar seu kit de beleza. De bases fortalecedoras a top coats que garantem um acabamento brilhante e duradouro, você encontrará tudo o que precisa para uma manicure impecável em casa.

Entre neste mundo de cores e encanto. Deixe a Esmalteria WK ser seu destino para explorar, experimentar e se apaixonar por uma nova forma de expressão pessoal. Sua jornada rumo à beleza começa aqui.
</p>

{% endblock %}
