{% extends 'base2.html' %}

{% block title %}Política de Privacidade{% endblock %}

{% block content %}
<div class="container">
    <h1>Política de Privacidade</h1>

    <p>
        Na Esmalteria WK, valorizamos profundamente a confiança que você deposita em nós ao escolher nossos produtos e serviços. Por isso, comprometemo-nos a proteger e respeitar sua privacidade em todas as interações que você tiver conosco.
    </p>

    <strong>Coleta de Informações Pessoais:</strong>
    <p>Para fornecer uma experiência personalizada e eficiente, coletamos informações pessoais limitadas e necessárias. Isso pode incluir seu nome, endereço de e-mail, informações de pagamento e preferências de compra.</p>

    <strong>Uso das Informações Pessoais:</strong>
    <p>Utilizamos suas informações pessoais para processar pedidos, oferecer suporte ao cliente, enviar atualizações sobre promoções e novos produtos, e personalizar sua experiência de compra. Garantimos que suas informações serão utilizadas apenas para os fins específicos para os quais foram coletadas.</p>

    <strong>Segurança dos Dados:</strong>
    <p>Implementamos medidas rigorosas para proteger suas informações pessoais contra acesso não autorizado, uso indevido ou divulgação. Utilizamos tecnologias de criptografia e práticas de segurança avançadas para garantir a integridade e confidencialidade de seus dados.</p>

    <strong>Compartilhamento de Informações:</strong>
    <p>Comprometemo-nos a não vender, alugar ou compartilhar suas informações pessoais com terceiros sem seu consentimento expresso, exceto quando necessário para processar transações ou cumprir obrigações legais.</p>

    <strong>Cookies e Tecnologias Semelhantes:</strong>
    <p>Utilizamos cookies e tecnologias similares para melhorar a funcionalidade do nosso site, analisar tendências de tráfego e personalizar conteúdos. Você pode gerenciar suas preferências de cookies através das configurações do seu navegador.</p>

    <strong>Alterações na Política de Privacidade:</strong>
    <p>Reservamo-nos o direito de atualizar esta política periodicamente para refletir mudanças em nossas práticas de privacidade. Recomendamos que você revise esta página regularmente para estar ciente de quaisquer atualizações.</p>

    <p>Na Esmalteria WK, estamos comprometidos em proteger sua privacidade e oferecer uma experiência de compra segura e gratificante. Se tiver alguma dúvida ou preocupação sobre nossa política de privacidade, não hesite em entrar em contato conosco. Estamos aqui para ajudar e garantir que sua experiência conosco seja mágica em todos os sentidos.</p>
</div>
{% endblock %}