{% extends 'base2.html'%}

{% block title %}Politica de Privacidade{% endblock %}

{% block content %}
<h1>Politica de Privacidade</h1>

<p> 
Na Esmalteria WK, valorizamos profundamente a confiança que você deposita em nós ao escolher nossos produtos e serviços. Por isso, comprometemo-nos a proteger e respeitar sua privacidade em todas as interações que você tiver conosco.

<strong>Coleta de Informações Pessoais:</strong>
Para fornecer uma experiência personalizada e eficiente, coletamos informações pessoais limitadas e necessárias. Isso pode incluir seu nome, endereço de e-mail, informações de pagamento e preferências de compra.

<strong>Uso das Informações Pessoais:</strong>
Utilizamos suas informações pessoais para processar pedidos, oferecer suporte ao cliente, enviar atualizações sobre promoções e novos produtos, e personalizar sua experiência de compra. Garantimos que suas informações serão utilizadas apenas para os fins específicos para os quais foram coletadas.

<strong>Segurança dos Dados:</strong>
Implementamos medidas rigorosas para proteger suas informações pessoais contra acesso não autorizado, uso indevido ou divulgação. Utilizamos tecnologias de criptografia e práticas de segurança avançadas para garantir a integridade e confidencialidade de seus dados.

<strong>Compartilhamento de Informações:</strong>
Comprometemo-nos a não vender, alugar ou compartilhar suas informações pessoais com terceiros sem seu consentimento expresso, exceto quando necessário para processar transações ou cumprir obrigações legais.

<strong>Cookies e Tecnologias Semelhantes:</strong>
Utilizamos cookies e tecnologias similares para melhorar a funcionalidade do nosso site, analisar tendências de tráfego e personalizar conteúdos. Você pode gerenciar suas preferências de cookies através das configurações do seu navegador.

<strong>Alterações na Política de Privacidade:</strong>
Reservamo-nos o direito de atualizar esta política periodicamente para refletir mudanças em nossas práticas de privacidade. Recomendamos que você revise esta página regularmente para estar ciente de quaisquer atualizações.

Na Esmalteria WK, estamos comprometidos em proteger sua privacidade e oferecer uma experiência de compra segura e gratificante. Se tiver alguma dúvida ou preocupação sobre nossa política de privacidade, não hesite em entrar em contato conosco. Estamos aqui para ajudar e garantir que sua experiência conosco seja mágica em todos os sentidos.
</p>

{% endblock %}