{% extends 'base2.html' %}

{% block title %}Privacidade{% endblock %}

{% block content %}
<div class="container">
    <h1>Privacidade</h1>

    <p>
        Na Esmalteria Encantada, levamos a sério a proteção de seus dados pessoais. Estamos comprometidos em seguir as diretrizes estabelecidas pela Lei Geral de Proteção de Dados, assegurando a responsabilidade de todos os envolvidos no tratamento de informações.
    </p>

    <p>Nos comprometemos a manter esta Política de Privacidade sempre atualizada, garantindo sua conformidade e aplicação efetiva. Adotamos medidas técnicas e organizacionais para proteger todas as etapas do tratamento de dados, garantindo a segurança e a privacidade das informações dos nossos clientes.</p>

    <p>Além disso, comprometemo-nos a cumprir prontamente qualquer determinação da Autoridade Nacional de Proteção de Dados relacionada ao tratamento de dados realizado pela Esmalteria Encantada.</p>

    <p>Para mais detalhes sobre como lidamos com suas informações pessoais, consulte nossa <a href="/politicadeprivacidade">Política de privacidade.</a></p>
</div>
{% endblock %}