{% extends 'base.html' %}

{% block title %} Produtos {% endblock %}

{% block content %} 
<!-- Se houver produtos -->
{% if produtos %}
<h1>Nossos Produtos</h1>
<p>Confira nossos produtos</p>

<!-- Itera sobre os produtos -->
{% for produto in produtos %}
   <div class="produto">
      <h2>{{ produto.nome }}</h2>
      <p>{{ produto.descricao }}</p>
      <img src="{{ url_for('static', filename='images/' + produto.imagem) }}" alt="{{ produto.nome }}" style="width: 200px; height: auto;">
   </div>
   <br/>
{% endfor %}

<!-- Se não houver produtos -->
{% else %}
   <p>Não existem produtos</p>
{% endif %}
{% endblock %}
