{% extends 'base2.html' %}

{% block title %}Termos de Uso{% endblock %}

{% block content %}
<div class="container">
    <h1>Termos de Uso</h1>

    <p>
        Bem-vindo aos Termos de Uso da Esmalteria WK. Ao acessar e utilizar nosso site, você concorda com os seguintes termos e condições:
    </p>

    <strong>Uso do Site:</strong>
    <p>Você concorda em utilizar nosso site apenas para fins legais e de acordo com estes Termos de Uso.</p>

    <strong>Cadastro:</strong>
    <p>Ao se cadastrar em nosso site, você concorda em fornecer informações precisas, atualizadas e completas. Você é responsável por manter a confidencialidade de sua conta e senha.</p>

    <strong>Propriedade Intelectual:</strong>
    <p>Todo o conteúdo do site, incluindo textos, imagens, logotipos, e designs, é de propriedade da Esmalteria WK ou licenciado para uso. É proibida a reprodução não autorizada de qualquer parte do conteúdo do site.</p>

    <strong>Compra de Produtos:</strong>
    <p>Ao fazer uma compra em nosso site, você concorda em fornecer informações precisas de pagamento e concorda em pagar pelos produtos adquiridos.</p>

    <strong>Limitação de Responsabilidade:</strong>
    <p>A Esmalteria WK não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, consequenciais ou punitivos decorrentes do uso ou incapacidade de uso do site.</p>

    <strong>Alterações nos Termos de Uso:</strong>
    <p>Reservamos o direito de modificar estes Termos de Uso a qualquer momento. As alterações entrarão em vigor após sua publicação no site.</p>

    <strong>Legislação Aplicável:</strong>
    <p>Estes Termos de Uso são regidos pelas leis do Brasil.</p>

    <p>Ao utilizar nosso site, você concorda em cumprir estes Termos de Uso. Para mais detalhes, consulte nossa <a href="/politicadeprivacidade">Política de privacidade.</a></p>
</div>
{% endblock %}