{% extends 'base2.html'%}

{% block title %}Termos de uso{% endblock %}


{% block content %}
<h1>Termos de uso</h1>

<p> 
Bem-vindo aos Termos de Uso da Esmalteria WK. Ao acessar e utilizar nosso site, você concorda com os seguintes termos e condições:

<strong>Uso do Site:</strong> Você concorda em utilizar nosso site apenas para fins legais e de acordo com estes Termos de Uso.

<strong>Cadastro:</strong> Ao se cadastrar em nosso site, você concorda em fornecer informações precisas, atualizadas e completas. Você é responsável por manter a confidencialidade de sua conta e senha.

<strong>Propriedade Intelectual:</strong> Todo o conteúdo do site, incluindo textos, imagens, logotipos, e designs, é de propriedade da Esmalteria WK ou licenciado para uso. É proibida a reprodução não autorizada de qualquer parte do conteúdo do site.

<strong>Compra de Produtos:</strong> Compra de Produtos: Ao fazer uma compra em nosso site, você concorda em fornecer informações precisas de pagamento e concorda em pagar pelos produtos adquiridos.

<strong>Limitação de Responsabilidade:</strong> A Esmalteria WK não se responsabiliza por quaisquer danos diretos, indiretos, incidentais, consequenciais ou punitivos decorrentes do uso ou incapacidade de uso do site.

<strong>Alterações nos Termos de Uso:</strong> Reservamos o direito de modificar estes Termos de Uso a qualquer momento. As alterações entrarão em vigor após sua publicação no site.

<strong>Legislação Aplicável:</strong> Estes Termos de Uso são regidos pelas leis do Brasil.

Ao utilizar nosso site, você concorda em cumprir estes Termos de Uso. Para mais detalhes, consulte nossa <a href="/politicadeprivacidade">Politica de privacidade.</a>


</p>
{% endblock %}